/* Layout */
.dashboard-container {
  display: flex;
  font-family: "Inter", sans-serif;
  color: #333;
  padding-right: 1%;
  padding-left: 1%;
  
  
}


.dashboard-main {
   
  width: 100% !important;   /* prevents content from overflowing */
  


}





















